<div class="px-4  text-center border-bottom">
  <h1 class="display-4 fw-bold text-body-emphasis">Des potins, rien que des potins</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">C'est ici que commence ton aventure sur ce site.</p>
    <p class="lead mb-4">Pour plus de facilité, tout ou presque se passe sur la Navbar. &#128521;</p>
  </div>
  <div class="overflow-hidden" style="max-height: 52vh;">
    <div class="container px-5">
      <img src="https://static8.depositphotos.com/1008939/939/i/600/depositphotos_9393392-stock-photo-gossip.jpg" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="700" height="500" loading="lazy">
    </div>
  </div>
</div>
<p>app/views/static_pages/index.html.erb</p>
