<div id="<%= dom_id potin %>">
  <p>
    <strong>Titre:</strong>
    <%= potin.titre %>
  </p>

  <p>
    <strong>Contenu:</strong>
    <%= potin.contenu %>
  </p>

  <p>
    <strong>Auteur:</strong>
    <%= potin.auteur %>
  </p>

</div>
